In [2]:
import pandas as pd 
import numpy as np

In [13]:
df = pd.read_csv('stock_data.csv',nrows=5,na_values=['not available',"n.a."],skiprows=0)
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [17]:
df = pd.read_csv(
    "stock_data.csv",
    na_values={
        "eps": ["not available", "n.a."],
        "revenue": ["not available", "n.a.", -1],
        "people": ["not available", "n.a."],
        "price": ["not available", "n.a."]
    },
)

df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [4]:
df[df.revenue<0]

  tickers  eps  revenue  price      people
4    TATA  5.6       -1    NaN  ratan tata

In [20]:
df.to_csv('new.csv',columns=['revenue','eps'],index=False)
pd.read_csv('new.csv')

   revenue    eps
0     87.0  27.82
1    484.0   4.61
2     85.0  -1.00
3     50.0    NaN
4      NaN   5.60

In [18]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')