In [38]:
import numpy as np

In [39]:
import pandas as pd
from numpy.random import randn

In [40]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [41]:
outside
inside

[1, 2, 3, 1, 2, 3]

In [42]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [43]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [44]:
df

             A         B
G1 1  1.939670  1.146161
   2  0.663100 -0.785004
   3 -0.102600  0.436967
G2 1 -1.069569 -0.371109
   2 -0.282580  0.168040
   3  0.617384 -2.448341

In [45]:
df.loc['G1'].loc[1]

A    1.939670
B    1.146161
Name: 1, dtype: float64

In [46]:
df.index.names = ['groups','num']
df

                   A         B
groups num
G1     1    1.939670  1.146161
       2    0.663100 -0.785004
       3   -0.102600  0.436967
G2     1   -1.069569 -0.371109
       2   -0.282580  0.168040
       3    0.617384 -2.448341

In [47]:
df.loc['G2'].loc[2]['B']

0.16803990305826585

In [48]:
df.xs('G1')
df.xs(1,level='num')

               A         B
groups
G1      1.939670  1.146161
G2     -1.069569 -0.371109