In [1]:
import pandas as pd   
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [2]:
var["c"]=var["A"]+var["B"]
var

   A  B   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [3]:
import numpy as np

In [8]:
a=np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]